<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>This is my first blog ninja, I will call it Leo</p>
        <p>This is my second blog ninja, I will call it Raph</p>
        <p>This is my third blog ninja, I will call it Mikey</p>
        <p>This is my fourth blog ninja, I will call it Donny</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>